<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <div style="border: 1px solid #ddd; padding: 10px; margin-bottom: 10px;">
      <h2><%= post.title %></h2>
      <p><%= post.content %></p>

      <!-- 상태 표시 -->
      <p>
        상태: 
        <% case post.status %>
        <% when 'banned' %>
          <span style="color: red;">Banned</span>
        <% when 'warning' %>
          <span style="color: orange;">Warning</span>
        <% else %>
          <span style="color: green;">Approved</span>
        <% end %>
      </p>

      <p>
        <%= link_to "Show this post", post %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>



